body {
  padding: 40px;
  padding-left: 0px;
  padding-right: 0px;
   


  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #80c8b5;
  text-shadow:  0px 0px 10px rgba(255, 255, 255, 0.8);
}

a:hover {
  color: #4DB788;
  text-shadow:  0px 0px 12px rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
 

ul{
	min-width: 150px;
}
li > a  { 
	text-shadow:  0px 0px 10px rgba(255, 255, 255, 0.8);
	text-align: right;
	padding-right: 15px;
	background-color:transparent;

}


h5{
	 padding-top:28px;
}

.navbar-header{
	background:#332f3E;
}


.navbar-collapse { 
padding-right: 0px;
border-top: 0px solid transparent;
box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
-webkit-overflow-scrolling: touch;
}

.navbar-collapse{
	overflow: hidden; 
}

 
.navbar-inverse{
	border-color:transparent;
}
@media (max-width: 767px) {
	.nav li > a {
		padding: 10px 20px; 
	} 
	.navbar-nav {
		margin: 0;
		background-color: rgba(128, 200, 181, 0.8);
	}

	.navbar-nav :hover,
	.navbar-nav :active,
	.navbar-nav :focus{
		margin: 0;
		background-color: rgba(128, 200, 181, 0.8);
	}
 

	.navbar-header{
	/*모바일 헤더 색 */
	background:#332f3E;
	}

	/*모바일 메뉴 색*/
	li > a  { 
	text-shadow:  0px 0px 10px rgba(255, 255, 255, 0.8);
	text-align: right;
	padding-right: 15px;
	background-color: rgba(128, 200, 181, 0.4);
	}


	h5{
	 padding-top:20px;
}	 

 
}