extends layout

block content
  div#wrap
    div.top
      h1(style="text-align:center;") #{title}
    div.container(style="padding-top:10%;")
      div.col-xs-4.col-lg-4
      div.col-xs-4.col-lg-4
        img(src='/images/common/sh.png' style="width:100%; " align='center')
      div.col-xs-4.col-lg-4

    div.container
      div.content
        h2(style="text-align:center") Welcome! 이건 다이어리 


    
    
 
  div#footer(style='background-color:#80C8B5;')
    h1(style="text-align:center; padding-top:10px;") footer
