extends layout

block content 
  -if(isDesktop == true)
    div.content.
      <ul class="page_container fullpagenav">
      <li class="nav1" data-link="http://tgqkstg.cafe24.com/diary">
        <img src="images/background/diary1.jpeg">
        <div class="content">
          <h1><a href="http://tgqkstg.cafe24.com/diary">Diary</a></h1>
        </div>
      </li>
      <li class="nav2" data-link="http://tgqkstg.cafe24.com/dream">
        <img src="images/background/dream.jpeg">
        <div class="content">
          <h1><a href="http://tgqkstg.cafe24.com/dream">Dream</a></h1>
        </div>

      </li>
      <li class="nav3" data-link="http://tgqkstg.cafe24.com/Portfolio">
        <img src="images/background/portfolio2.jpg">
        <div class="content">
          <h1><a href="http://tgqkstg.cafe24.com/Portfolio">Portfolio</a></h1>
        </div>

      </li>
      <li class="nav4" data-link="http://tgqkstg.cafe24.com/abilitytree">
        <img src="images/background/abilitytree.jpeg">
        <div class="content">
          <h1><a href="http://tgqkstg.cafe24.com/abilitytree">AbilityTree</a></h1>
        </div>

      </li>
      <li class="nav5" data-link="http://tgqkstg.cafe24.com/guest">
        <img src="images/background/guest1.jpeg">
        <div class="content">
          <h1><a href="http://tgqkstg.cafe24.com/guest">Guest</a></h1>
        </div>

      </li>
    </ul>
  
  -else
    div#wrap
      div.top
        h1(style="text-align:center;") #{title}
      div.container(style="padding-top:10%; position:absolute;")
        div.col-xs-4.col-lg-4
        div.col-xs-4.col-lg-4
          img(src='/images/common/sh.png' style="width:100%; " align='center')
        div.col-xs-4.col-lg-4
   
     


        

