extends layout

block content
  div#wrap
    div.top
      h1(style="text-align:center;") #{title}
    div.container(style="padding-top:10%;")
      div.col-xs-4.col-lg-4
      div.col-xs-4.col-lg-4
        img(src='/images/common/sh.png' style="width:100%; " align='center')
      div.col-xs-4.col-lg-4

    div.container
      div.content
        h2(style="text-align:center") Welcome!


    
    
 
  //- div#footer(style='background-color:#80C8B5; height:70px; align:center;')
  //-   h5(style="text-align:center;  " align="center") 삶은 우리가 무엇을 하며 살아왔는가의 합계가 아니라, 우리가 무엇을 절실하게 희망해 왔는가의 합계이다.
