doctype html
 
html
  head
    title Appulele의 사이트
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet', href='/bootstrap/css/sticky-footer.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    //- link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
     
    
    - if (index == 1  && isDesktop == true)
        link(rel='stylesheet', href='/fullpage/fullpagenav.css')     
        script(src='/fullpage/jquery.fullpagenav.js')
        link(rel='stylesheet', href='/stylesheets/fullpage_style.css')
        |<script>
        |$(document).ready( function() {
        |$(".page_container").fullpagenav();
        |});
        |</script>
    
 
      

       
      
  body(style='background-color:#ffffff')
    //- Color 컨셉  : http://www.colourlovers.com/web/trends/websites/7822/Pop_the_Box
    .navbar.navbar-inverse.navbar-fixed-top(style='height: 50px; width: 100%;  ')
      
      .navbar-header
        button.navbar-toggle(type='button',data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(style="margin-top:15px;margin-left:15px;position:absolute") #{title}
      
      .navbar-collapse.collapse.pull-right 
        ul.nav.navbar-nav
          li
            a(href='home') Home
          li.nav1.fpn_li
            a(href='diary') Diary
          li.nav2.fpn_li
            a(href='dream') Dream
          li.nav3.fpn_li
            a(href='portfolio') Portfolio
          li.nav4.fpn_li
            a(href='ability') AbilityTree
          li.nav5.fpn_li
            a(href='guest') Guest
    block content
